{{ form_start(form, {'attr': {'id': 'book-form', 'novalidate': 'novalidate'}}) }}

<div class="mb-3">
    {{ form_label(form.title) }}
    <div class="col-md-6">
        {{ form_widget(form.title, {
            'attr': {
                'class': 'form-control' ~ (form_errors(form.title) ? ' is-invalid' : '')
            }
        }) }}
        <div class="invalid-feedback">
            {{ form_errors(form.title) }}
        </div>
    </div>
</div>

<div class="mb-3">
    {{ form_label(form.author) }}
    <div class="col-md-6">
        {{ form_widget(form.author, {
            'attr': {
                'class': 'form-control' ~ (form_errors(form.author) ? ' is-invalid' : '')
            }
        }) }}
        <div class="invalid-feedback">
            {{ form_errors(form.author) }}
        </div>
    </div>
</div>

<div class="mb-3">
    {{ form_label(form.isbn) }}
    <div class="col-md-6">
        {{ form_widget(form.isbn, {
            'attr': {
                'class': 'form-control' ~ (form_errors(form.isbn) ? ' is-invalid' : '')
            }
        }) }}
        <div class="invalid-feedback">
            {{ form_errors(form.isbn) }}
        </div>
    </div>
</div>

<div class="mb-3">
    {{ form_label(form.publicationDate) }}
    <div class="col-md-6">
        {{ form_widget(form.publicationDate, {
            'attr': {
                'class': 'form-control' ~ (form_errors(form.publicationDate) ? ' is-invalid' : '')
            }
        }) }}
        <div class="invalid-feedback">
            {{ form_errors(form.publicationDate) }}
        </div>
    </div>
</div>

<div class="mb-3">
    {{ form_label(form.genre) }}
    <div class="col-md-6">
        {{ form_widget(form.genre, {
            'attr': {
                'class': 'form-control' ~ (form_errors(form.genre) ? ' is-invalid' : '')
            }
        }) }}
        <div class="invalid-feedback">
            {{ form_errors(form.genre) }}
        </div>
    </div>
</div>

<div class="mb-3">
    {{ form_label(form.copies) }}
    <div class="col-md-6">
        {{ form_widget(form.copies, {
            'attr': {
                'class': 'form-control' ~ (form_errors(form.copies) ? ' is-invalid' : '')
            }
        }) }}
        <div class="invalid-feedback">
            {{ form_errors(form.copies) }}
        </div>
    </div>
</div>

<button type="submit" class="btn btn-primary">
    {{ button_label|default('Save') }}
</button>

{{ form_end(form) }}
