{{ form_start(form, {'attr': {'id': 'book-form'}}) }}

    <div class="mb-3">
        {{ form_label(form.title) }}
        {{ form_widget(form.title) }}
        <div class="form-error-message">
            {{ form_errors(form.title) }}
        </div>
    </div>

    <div class="mb-3">
        {{ form_label(form.author) }}
        {{ form_widget(form.author) }}
        <div class="form-error-message">
            {{ form_errors(form.author) }}
        </div>
    </div>

    <button class="btn btn-primary">Save</button>

{{ form_end(form) }}
